.cursos__link {
	height: 130px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC; 
	position: relative;
	display: flex;
	width: 23%;
	
}

.cursos__link a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.cursos__link:hover {
	box-shadow: 4px 4px 4px #CCC;
}

.cursos__link a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}

.cursos__link:nth-child(even) a:before {
	background: url(../../img/background1.svg) no-repeat;	
}

.cursos__link:nth-child(odd) a:before {
	background: url(../../img/background2.svg) no-repeat;
}
@media screen and (min-width:350px)and (max-width:769px){
	.cursos__link {
		width:100%;
		
    
	}
}
@media(min-width: 769px) {

  .cursos__link:nth-child(3n) {
		margin-right: 0;
	}

	.cursos__link:nth-child(3n+1) {
		margin-left: 0;
	}
}
@media(min-width: 1000px){
  .cursos__link {
		margin: 1.333%;
	}

	.cursos__link:nth-child(3n) {
		margin-right: 1.33%;
	}

	.cursos__link:nth-child(3n+1) {
		margin-left: 1.333%;
	}

	.cursos__link:nth-child(4n) {
		margin-right: 0;
	}

	.cursos__link:nth-child(4n+1) {
		margin-left: 0;
	}

}
