.header__container {
	width: 94%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content:space-between;
}
@media screen and (min-width:350px)and (max-width:769px){
	.header__container {
		width: 100%;
		flex-direction: column;
		
	}
}
@media(min-width: 769px){
	.header__container {
		width: 85%;	
		
	}
}