.header__nav{
	display:flex;
}
@media screen and (min-width:350px)and (max-width:769px){
	.header__nav {
		width: 100%;
		flex-direction: column;
		text-align: center;
	}
}
@media(min-width: 769px){
  .header__nav {
		width: auto;
	}
}